
.section-about{
    min-height: 100vh;
    height: 100%;
    background-color: black;


}
.about-title{
    color: var(--main-theme-color)
}

.about-text{
    color: rgb(186, 183, 183);
    font-size: 35px;
    padding: 10px;
    font-weight: 300;
}

.about-photo{
    max-width: 70%;
    margin-bottom: 30px;
}

.carousel{
    margin: auto;
    width: 20%;
    padding-top: 10%;

}

.carousel-indicator{
    color: #b9c4c1;

}



.carousel-button{
    color: rgb(107, 216, 169);
    background-color: #34353500;
    border: 2px solid rgb(107, 216, 169);
    border-radius: 50px;
    height: 60px;
   
}

                                                                                                                                                                                                              

.carousel-button:hover{
    color: rgb(107, 216, 169);
    background-color: #34353500;
    border: 2px solid rgb(107, 216, 169);
    transition: .8s;
    transform: scale(1.1);
}

@media screen and (min-width: 1900px) {
    .about-text{
        font-size: 70px;
    }
    
}

@media screen and (max-width: 768px) {
    .about-text{
        font-size: 20px;
        padding: 30px;
    }

    .about-title{
        padding: auto;
    }
    
}

@media screen and (max-width: 480px) {
    .about-text{
        font-size: 15px;
    }
    
}