*{
    --showcase-border-color: rgb(143, 142, 142);
    --showcase-background-color: rgba(70, 86, 73, 0.139);
    --showcase-icon-color: rgb(85, 215, 152);
}


.header{
    color: rgb(224, 224, 224);
    font-size: 80px;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    padding: 20px;
    padding-bottom: 30px;
    letter-spacing: 1px;
  
}
.line-space{
    height: 2px;
    background-color: rgb(158, 156, 156);
    margin-block: 20px;
}
body{
    background-color: rgba(8, 11, 14, 0.992);
    overflow-x: hidden;
}
.bold{
    font-weight: 600;
    color: rgb(215, 212, 212);
}

.intro-bio{
    color: rgb(143, 144, 146);
    font-size: 20px;
    padding: 20px;
    font-weight: 300;
    padding-top: 20px;
}



.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;

}
.custom-font{
     font-family: Nunito Sans;  
    font-weight: 400;
    font-size: 220%;
}

.sub{
    color: rgb(158, 156, 156);
}

@media screen and ( min-width: 2000px) {
    .header{
        font-size: 90px;
        
    }
}

@media screen and (max-width: 768px) {
    .header{
        font-size: 30px;
        padding: 20px;
    }
    .intro-bio{
        font-size: 15px;
        padding: 10px;
    }
    .custom-font{
        font-size: 130%;
    }
    .sub{
        font-size: 13px;
    }
    
}