/* Global Styles */
* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --text-gradient: linear-gradient(90deg, rgba(74, 215, 135, 1) 0%, rgba(80, 98, 249, 1) 100%);
  }

body {
  background-color: #13151c;
  min-height: 100vh;
};

/* Content Section #b6dfd1ec */


/* Download Button */
.download-button {
  border-color: #56927e;
  color: #0d7755;
  transition: .3s;
  
}

.download-button:hover {
  border-color: rgb(13, 222, 187);
  color: rgb(13, 222, 187);
  transform: scale(1.05);
  
}

.gradient-text{
  background: linear-gradient(90deg, rgba(74, 215, 135, 1) 0%, rgba(80, 98, 249, 1) 100%);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.home-background{
  /* global 92%+ browsers support */
  background: radial-gradient(circle at 25% 62%, rgba(20, 25, 23, 1) 0%, rgba(28, 24, 75, 1) 55%);
}



.body {
 
  /* Add this to enable scrolling */
  height: 100vh;
}


/* Delete Button */
.delete-button:hover {
  border-color: #87d825;
  color: #b11f1f;
  transform: scale(1.05);
}



@media screen and (max-width: 768px) {
  .nav-link:hover {
    transition: transform 0.3s ease-in-out; 
  }


  

  .project-container{
    margin-top: 300px;
  }

  
}