/* Global Styles */
* {
  font-family: 'Onest', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #13151c;
  min-height: 100vh;
};

/* Content Section #b6dfd1ec */


/* Download Button */
.download-button {
  border-color: #56927e;
  color: #0d7755;
  transition: .3s;
}

.download-button:hover {
  border-color: rgb(13, 222, 187);
  color: rgb(13, 222, 187);
  transform: scale(1.05);
}


.home-background{
  /* global 92%+ browsers support */
  background: radial-gradient(circle at 25% 62%, rgba(20, 25, 23, 1) 0%, rgba(28, 24, 75, 1) 55%);
}


section {
 height: 120vh;
 
  scroll-snap-align: start;
}

.body {
 
  /* Add this to enable scrolling */
  height: 100vh;
}


/* Delete Button */
.delete-button:hover {
  border-color: #87d825;
  color: #b11f1f;
  transform: scale(1.05);
}

/* Media Queries */
@media screen and (max-height: 768px) {
  .nav-link:hover {
    transition: margin-left 0.3s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .nav-link:hover {
    transform: none;
  }

  .home-header {
    min-height: 800px;
  }

  .card {
    margin: 0;
  }

  .project-card {
    margin-bottom: 40px;
    margin-top: 30px;
  }
}