.footer {
    background-color: var(--header-background);
    padding: 20px;
    
    
    color: white;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}
.contact-info{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}


