.delete-button:hover {
    color: #c2594b;
    transform: scale(1.05);
}


.delete-button:hover {
    color: #e04040fd;
    transform: scale(1.05);
}


.QuickContact{
    overflow-y: scroll;
    scrollbar-color: #64df81 #020101b8;
    background-color: #000000fb;
 
}