

#contact-page-photo{
    height: auto;
    height: 100vh;
    width: auto;
    
    
 
}

.contact-content{
    padding: 10px;
    height: 10vh;
   
}



@media screen and (max-width: 1308px){
    .reach-out{
        font-size: 40px;
    }
}
  


@media  screen and (max-width: 960px) {
    #contact-page-photo{
        display: none;
    }
    
}

@media screen and (max-width: 480px) {
    .reach-out{
        font-size: 25px;
    }
}