
.error-container{
  background-color: rgb(231, 78, 78);
}
#no-found-container {
  background-image: url("./NoMatch.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat; 
  background-position: center;
  padding: 0;
  margin: 0;
 
}

.home-button{
  background-color: rgb(76, 219, 116);
  color: rgb(4, 4, 4);
  padding: 20px;
  font-size: larger;
}

.home-button:hover{
  background-color: rgb(2, 1, 1);
  color: rgb(243, 243, 243);
}