

.scene-contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scene {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    background: #0c70dbfa;
    border: 6px solid #27292bb6;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 100px rgba( 0 , 0 , 0 , 0.5 );
    z-index: 1;
}



.scene:before{
    position: absolute;
    content: " ";
    
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #27292bb6;
    z-index: 1;
}

.rocket-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: #fff;
    width: 70px !important;
    animation: animatedRocket .2s infinite ;
    z-index: 1;
}





.cloud {
    position: absolute;
    color: #fff;
    animation: animatedCloud 2.3s infinite linear;
    
}

.scene .c1 {
    right: 70%;
    top: -100%;
    font-size: 2em !important;
    z-index: 1;
    margin-block: 100px;
}
.scene .c2 {
    top: -20%;
    left: 40%;
    z-index: 1;
    font-size: 2.8em !important;
    margin-block: 100px;
}
.scene .c3 {
    z-index: 1;
    left: 50%;
    top: 100%;
    font-size: 1.5em !important;
    margin-block: 100px;
}



@keyframes animatedRocket {
    0%{
        transform: translate(-50%, -50%) rotate(-45deg) translate(0,0);
    }
    50%{
        transform: translate(-50%, -50%) rotate(-45deg) translate(-4px,-4px);
    }
    100%{
        transform: translate(-50%, -50%) rotate(-45deg) translate(0,0);
    }
}



@keyframes animatedCloud {
    0% {
        transform: translateY(-400%)
    }
    100% {
        transform: translateY(300%)
    }
}

@keyframes backgroundChange{
    0%{
        background: #2571cd;
    }
    30%{
        background: #8f50f5;
    }
    60%{
        background: #8c3ef3f7;
    }
    
    100%{
        background: #165dc1fe;
    }
}


@media screen and ( max-width:770px){
    .scene {
        width: 100px;
        height: 100px;
    }
    .rocket-icon{
        width: 20px !important;
    }
    .scene .c1 {
        font-size: 1em !important;
    }
    .scene .c2 {
        font-size: 1.4em !important;
    }
    .scene .c3 {
        font-size: 0.8em !important;
    }
}