

.home-header h1 {
  font-size: 50px;
  margin-top: 50px;
}



/* Welcome Section */
#welcome-hi,
.welcome-quote-dev,
#welcome-quote-vet,
#welcome-quote,
#veteran {
  font-size: 60px;
  font-family: 'Poppins', Courier, monospace;
  font-weight: 400;
}

section {
  min-height: 100vh;
  height: 100%;
}




@media screen and (max-width: 480px) {

  #welcome-hi,
  .welcome-quote-dev,
  #welcome-quote-vet,
  #welcome-quote,
  #veteran {
    font-size: 19px;
  }

  
}