

.home-header h1 {
  font-size: 50px;
  margin-top: 50px;
}





section {
  min-height: 100vh;
  height: 100%;
}

.greeting-quote{
  font-size: 60px;
  font-family: 'Poppins', Courier, monospace;
  font-weight: 300;
}

.gradient-white-text{
  background: linear-gradient(179deg, rgba(235, 235, 230, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



@media screen and (max-width: 480px) {

 .greeting-quote {
    font-size: 45px;
  }
  .download-btn{
    font-size: 10px;
  }
  .home-header img{
    padding-bottom: 100px;
  }
}