.float-button{
    background-color: #0a0a0abb;
    border-radius: 20px;
    padding: 10px;
    color: rgb(7, 7, 7);
    overflow: hidden;
}

.float-button:hover{
    transform: scale(1.1);
    transition: .3s;
    
}

