/* Card Component */
.card {
  box-shadow: 0 0 4px 1px #272d2cad;
  margin: 40px;
  border: 5px solid var(--theme-green-light);
  background-color: #313332a8;
  color: white;
  border-radius: 10px;
}

.detail {
  background-color: #5fdd9aee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Onest , Courier, monospace;
}

.more-detail {
 
  color: #fbfbfbbe;
  font-family: 'Fredoka', Courier, monospace;

}

.card-image {
  border-radius: 3px;
  box-shadow: 0 0 4px 3px #141a19ad;
  max-height: 400px;
}

.section-header, .other-project {
  
  
  font-family: Raleway , Courier, monospace;

  

}



.project-header{
  font-family: 'Almarai', Courier, monospace;

}

.section-header {
  border-color: var(--theme-green-light);
  font-size: 230%;
 
}

.academic-box{
  
  border-radius: 10px;
  padding: 10px;
}

.project-title{
  font-family: 'Raleway', Courier, monospace;
  font-weight: 200;
}

.other-project {
 
  border-color: var(--theme-green-light);
  font-size: 200%;
}


.card:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
  border: 5px solid var(--theme-green-light);
}

.github-btn, .play-btn {
  box-shadow: 0 0 3px 0 rgba(1, 3, 2, 0.5);
}

.list-tag{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: auto;

}

.tag{
  background-color: rgba(60, 62, 67, 0.667);
  max-width: fit-content;
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
  font-size: small;
}

.AccordionSummary {
  background-color: #9b1e1ecc;
  color: #eae8e8;
}



@media screen and (max-width: 800px) {
  .card-title {
      font-size: 16px;
  }
  
  .card-text {
      font-size: 12px;
  }
  
  .skill-name {
      font-size: 14px;
  }
  
  .github-btn, .play-btn {
      font-size: 100%;
  }
}
