/* Card Component */
.card {
  box-shadow: 0 0 3px 1px #1a1c1c96;
  margin: 40px;
  background-color: #2228266c;
  color: white;
  border-radius: 5px;
  transition: transform 0.4s ease;
}

#portfolio-section {
  background: radial-gradient(circle at 50% 57%, rgb(17, 24, 24) 0%, rgba(0, 0, 0, 1) 72%);
}

/* Detail Section */
.detail {
  background-color: #5fdd9aee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Onest, Courier, monospace;
}

/* More Detail Section */
.more-detail {
  color: #fbfbfbbe;
  font-family: 'Fredoka', Courier, monospace;
  font-weight: 200;
  font-size: 15px;
}

/* Card Image Section */
.card-image {
  border-radius: 3px;
  max-height: 240px;
}

/* Section Header and Other Project */
.section-header, .other-project {
  font-family: Raleway, Courier, monospace;
  font-family: 300;
  font-size: 300%;
  
}

.h-100{
  border-radius: 4px;
}
/* Project Header */
.project-header {
  font-family: 'Poppins', Courier, monospace;
  letter-spacing: 5px;
  font-family: 300;
  padding: 10px;
  color: #c8c5c5;

;
}

/* Academic Box */
.academic-box {
  border-radius: 10px;
  padding: 10px;
}

/* Project Title */
.project-title {
  font-family: 'Raleway', Courier, monospace;
}

/* Other Project */
.other-project {
  border-color: var(--theme-green-light);
  font-size: 200%;
}


/* GitHub and Play Buttons */
.github-btn, .play-btn {
  box-shadow: 0 0 3px 0 rgba(1, 3, 2, 0.5);
  background-color: #50ee9d;
}

/* List Tag Section */
.list-tag {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: auto;
  
}

/* Tag Styling */
.tag {
  background-color: rgba(60, 62, 67, 0.667);
  max-width: fit-content;
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
  font-size:12px;
}

/* Card Hover Effect */
.card:hover {
  transform: translateY(-10px);
  
}

.github-btn:hover, .play-btn:hover{
  background-color: #1ed284bc;

}


@media screen and (max-width: 800px) {
  .card-title {
    font-size: 16px;
  }

  .card-text {
    font-size: 13px;
  }

  .skill-name {
    font-size: 14px;
  }

  .github-btn, .play-btn {
    font-size: 100%;
  }

  .tag {
    display: none;
  }

    .card:hover{
      transform: none;
    }
  


}

@media screen and (max-width: 500px) {
  .card {
    margin: 20px;
  }

  .card-title {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }

  .skill-name {
    font-size: 12px;
  }

  .github-btn, .play-btn {
    font-size: 80%;
  }

  .tag {
    display: none;
  }

  .card:hover{
    transform: none;
  }
  
  .section-header{
    font-size: 200%;
  }
}