/* Card Component */
.card {
  box-shadow: 0 0 20px 1px #0e100f96;
  margin: 010px;
  background-color: rgba(34, 40, 38, 0.657);
  color: white;
  border-radius: 15px;
  transition: transform 0.4s ease;
  border: none;
}

#portfolio-section {

  background: radial-gradient(circle at 50% 57%, rgb(17, 24, 24) 0%, rgba(0, 0, 0, 1) 72%);
  min-height: 100vh;
}

/* Detail Section */
.detail {
  background-color: #5fdd9aee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Poppins, Courier, monospace;
}

/* More Detail Section */
.more-detail {
  color: #fbfbfbbe;
  font-family: Poppins, Courier, monospace;
  font-weight: 200;
  font-size: 15px;
}

/* Card Image Section */
.card-image {
  border-radius: 3px;
  max-height: 340px;
  
}

/* Section Header and Other Project */
.section-header, .other-project {
  font-family: Raleway, Courier, monospace;
  font-family: 300;
  font-size: 300%;
  
}

.h-100{
  border-radius: 4px;
}
/* Project Header */
.project-header {
  font-family: 'Poppins', Courier, monospace;
  letter-spacing: 5px;
  font-family: 300;
  padding: 10px;
  color: #c8c5c5;
  padding-bottom: 0;

;
}

/* Academic Box */
.academic-box {
  border-radius: 10px;
  padding: 10px;
}

/* Project Title */
.project-title {
  font-family: 'Raleway', Courier, monospace;
  color: rgb(185, 190, 190);
  font-size: 200%;
}

/* Other Project */
.other-project {
  border-color: var(--theme-green-light);
  font-size: 200%;
  
}


/* GitHub and Play Buttons */
.github-btn, .play-btn {
  box-shadow: 0 0 3px 0 rgba(45, 192, 119, 0.5);
  background-color: #50ee9d;
  width: 48%;
}

/* List Tag Section */
.list-tag {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: auto;
  
}

/* Tag Styling */
.tag {
  background-color: rgba(39, 42, 50, 0.667);
  max-width: fit-content;
  padding: 8px;
  border-radius: 3px;
  margin: 5px;
  font-size:12px;
  color: rgb(187, 190, 193);
}

/* Card Hover Effect */
.card:hover {
  transform: translateY(-10px);
  
}

.github-btn:hover, .play-btn:hover{
  background-color: #07ba6df6;
  color: black;

}

.space{
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .card-title {
    font-size: 16px;
  }

  .card-text {
    font-size: 13px;
  }

  .skill-name {
    font-size: 14px;
  }

  .github-btn, .play-btn {
    font-size: 100%;
  }

  .tag {
    display: none;
  }

    .card:hover{
      transform: none;
    }
  


}

@media screen and (max-width: 500px) {
  .card {
    margin: 20px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 12px;
  }

  .skill-name {
    font-size: 12px;
  }

  .github-btn, .play-btn {
    font-size: 80%;
  }

  .tag {
    display: none;
  }

  .card:hover{
    transform: none;
  }
  
  .section-header{
    font-size: 200%;
  }
}

@media screen and (min-width:1000px) {
  .need-padding{
    padding: 60px;
  }
}