

#about-container{
    min-height: 100vh;
    height: fit-content;
    background-color: rgb(25, 26, 32);
     border-radius: 20px;
}
.section-about{
    min-height: 100vh;
    height: fit-content;
    color: aliceblue;
    padding: auto;
   

}

#carousel{
    background-color: rgba(30, 35, 41, 0.691);
    border-radius: 30px;
}

.about-title{
    color: var(--main-color);
}

.about-me{
    background-color: rgba(41, 44, 47, 0.009);
    padding: 30px;
    border-radius: 30px;
    min-height: 100%;
}

.about-text{
    color: rgb(211, 211, 211);
    font-size: 35px;
    padding: 10px;
    font-weight: 300;
    padding-bottom: 0;
    margin-bottom: 0;
}




.about-photo, .devices{
    max-width: 100%;
    height: auto;
    width: fit-content;
    border-radius: 30px;
    width: fit-content;
    max-height: 300px;
    max-width: 280px;

}


.carousel-card-description {
    color: rgb(212, 219, 223);
    font-size: 20px;
    padding: 10px;

}

.carousel{
 
    padding-top: 10px;

}

.carousel-indicator{
    color: var(--carousel-color);
    margin: 10px;

}




.carousel-button{
    color: var(--carousel-color);
    background-color: #33363600;
    border:none;
  
    border-radius: 200px;
   
}

.disable{
    color: rgb(79, 80, 81);
    border: none;

}


.carousel-button:hover{
    color:var(--carousel-color);
    background-color: #34353500;
    transition: .8s;
    transform: scale(1.1);
}

@media screen and (min-width: 1900px) {
    .about-text{
        font-size: 70px;
    }
    .about-photo{
        margin: auto;
        max-height: 450px;
    }
    .carousel-card-description{
        font-size: 30px;
    }
    
}

@media screen and (max-width: 1028px) {
    .about-text{
        font-size: 24px;
        padding: 0px;
    }

    .carousel-card-description{
        font-size: 15px;
        padding: 5px;
    }
    
    .about-photo, .devices{
        max-width: 50%;
        
        width: fit-content;
        border-radius: 30px;
    }
    

    .about-title{
        padding: auto;
    }

    .about-me{
        margin-top: 30px;
    }

    
    
}

@media screen and (max-width: 580px) {
    .about-text{
        font-size: 15px;
        padding-bottom: 5px ;
        
    }

   .carousel-card-description{
        font-size: 10px;
        padding: 0px;
    }
   
    .carousel-button{
        padding: 1px;
        border: 0px;
    }

    .about-me{
        padding-top: 10px;
    }
    
}