* {
  font-family: 'Onest', sans-serif;
}

.navbar {
  background-color: #1c1d1eed;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);

}

.nav-link {
  color: rgb(255, 255, 255);
  font-family: 'Staatliches', sans-serif;
  
}
.navbar-brand {
  color: rgb(219, 219, 219);
  font-size: 30px;
  font-family: 'Staatliches', sans-serif;
}
.navbar-expand-sm{
  max-height: 60px;
}


.main {
  background-color: rgb(195, 216, 216);
}

.home-header {
  min-height: 300px;
}

.home-header h1 {
  font-size: 50px;
  margin-top: 70px;

}

.content {
  min-height: 50px;
  max-height: 100%;

}

.body {
  background-color: rgba(30, 29, 29, 0.323);
}

.contact-box{
  color: white;
  padding: 20px;
  background-color: rgba(26, 27, 30, 0.78);
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7);
}

.actived {
  background-color: rgb(136, 146, 164);
}



#homepage-logo {

  margin-top: 100px;

}

.home-header {
  color: rgba(6, 32, 81, 0.909);
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
}

#welcome-quote {
  font-family: 'Staatliches', sans-serif;
  font-size: 70px;
  color: rgba(31, 44, 68, 0.909);
}

.nav-link:hover, .navbar-brand:hover {
  color: rgb(132, 128, 142);
}


@media screen and (min-height: 1200px) {
  .content {
    min-height: 1050px;
  }
}

