* {
  font-family: 'Onest', sans-serif;
}
:root {
  --main: rgba(4, 250, 184, 0.944); /* Set your desired theme color here */
}
.navbar {
  background-color: #1c1d1eed;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);

}
#welcome-hi{
  font-size: 60px;
  color: rgba(235, 235, 235, 0.944);
}
.nav-link {
  color: white;
  font-family: 'Staatliches', sans-serif;
  transition: transform 0.3s ease-in-out;
}

.navbar-brand {
  color: white;
  font-size: 30px;
  font-family: 'Staatliches', sans-serif;
   transition: transform 0.3s ease-in-out;
}
#welcome-quote, #welcome-quote-dev, #welcome-quote-vet {
  
  font-size: 60px;
  color: rgba(247, 248, 249, 0.909);
};

.navbar-expand-sm{
  max-height: 60px;
}

.navbarbrand{
  margin-left: 30px;
}

#welcome-quote-dev{
  color: rgba(8, 186, 136, 0.944);
};

#download{
  border-radius: 80px;
}
.main {
  background-color: rgb(31, 34, 34);
}

#veteran{
  
  font-size: 60px;
  color: rgba(8, 138, 186, 0.944);
}
.home-header {
  min-height: 300px;
}

.home-header h1 {
  font-size: 50px;
  margin-top: 70px;

}

.content {
  min-height: 50px;
  max-height: 100%;

}

.download-button{
  border-color: rgb(9, 161, 110);
  color: aquamarine;
}
.body {
  background-color: rgba(30, 29, 29, 0.323);
}

.contact-box{
  color: white;
  padding: 20px;
  background-color: rgba(26, 27, 30, 0.78);
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7);
}

.actived {
  background-color: rgb(136, 146, 164);
}



#homepage-logo {

  margin-top: 100px;

}

.nav-link:visited{
  color: white;

}

.nav-link:hover, .navbar-brand:hover {
  color: var(--main);
  transform: scale(1.1)
}


.content{
  background-color: rgba(18, 17, 17, 0.967);
  min-height: 1200px;
}

.download-button:hover{
  border-color: rgb(218, 47, 47);
  color: rgb(218, 47, 47);

}

.custom-toggler{
  border-color: var(--main);
  border-style: solid;
  border-radius: 10px;
  color: greenyellow;
}

@media screen and (max-height: 768px) {
 
  .nav-link:hover {
    transition: margin-left 0.3s ease-in-out; /* Adjust the duration and timing function as needed */
    margin-left: 20px; 
  }
}
@media screen and (max-width: 768px) {

  .nav-link:hover {
 
    transform: none;
    
  }
  
  .home-header{
    min-height: 800px;
  }
}