.navbar {
  background-color: rgba(10, 10, 12, 0.127);
  padding: 2px;
}

.navbar-brand {
  font-size: 35px;
  font-family: var(--navbar-font);
  margin-left: 30px;
  font-weight: 300;
}

.nav-brand-color{
  background: linear-gradient(148deg, rgba(36, 97, 62, 1) 0%, rgba(32, 160, 125, 1) 27%, rgba(34, 152, 180, 1) 55%, rgba(59, 106, 182, 1) 83%, rgba(3, 35, 86, 1) 100%);  
  
  background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}


.navbar-brand:hover {
  transform: scale(1.1);
  transition: 0.4s ease-out;


}

.nav-link{
  color: var(--nav-link);
  font-family: var(--navbar-font);
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;

}

.nav-link:hover {
  cursor: pointer;
  color: var(--nav-link);
  
}

#inbox{
  margin-top: 100px;
}
.navbar-collapse{
  justify-content: flex-end;
}
.inbox-message {
  background-color: #9f8484e0;
  margin-bottom: 20px;
}
#modal-title {
  font-size: 23px;
  color: #19e7ad;
  letter-spacing: .1em;

}

#modal-body {
  /* background-image: url(../../assets/images/website/grid-small.jpeg);
  background-size: cover;
  background-position: center; */
  background-color: #19191b;
}

.modal-content {
  border-radius: 50px;
}

#inbox-header {
  background-color: #2a2e33ec;
  border-bottom: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
 
  color: #fbfbfb;



}



#password-input{
  width: 50px;
 
  color: rgba(75, 205, 140, 0.931);


  font-family: "Roboto";
 
}


button.btn-close {
  background-color: #d5caca92;
  border-radius: 15px;
}



.message-title {
  background-color: #78edc2d1;
  box-shadow: 0px 0px 3px 0px #000000;
  
  
}



.inbox-card-text {
  color: #c7c4c4;
  background-color: #2e3339cb;
  height: 100%;
    

}

#log-out-button{
  color: #04fab8f1;
}

.inbox-message:hover {
  transform:translateY(-10px);
  transition: 0.7s;
  border-color: #19e7ad;
  border-width: 2px;

}

@media screen and (min-width: 770px) {
  .nav-link:hover {
    transform: translateY(-5px);
    transition: 0.5s;

  }

  #log-out-button:hover {
    transform: scale(1.1);
    transition: 0.2s;
    color: #df3b3b;
  }

  .inbox-modal{
    margin-top: 30px;
  }
 
}

@media screen and (max-width: 1000px) {
  .inbox-message:hover {
    transform: none;
  }

  
  
}

@media screen and (max-width:770px) {
  .navbar{
    background-color: #050606da;
  }

  #password-input{
    width: 30px;
  }

}

@media screen and ( min-width: 1560px) {
  .inbox-modal{
    margin-top: 10%;
  
  }
}